{% extends 'base.html' %}
{% load static %}

{% block title %}
    Login
{% endblock %}

{% block content %}
{% load crispy_forms_tags %}

<div class="jumbotron">
    <center>
        <h1>Balanced News Login</h1>
    </center>
</div>

<div class="form-holder">

    <form method="POST" class="form-group">

        {% csrf_token %}
        {{form | crispy}}
    
        <button type="submit" class="btn btn-dark">Log In</button>
        <br>
        <br>
        <p>Forgot your password? Reset it <a href="/password_reset">here</a>!</p>
        <p>Don't have an account? Sign up <a href="/register">here</a>!</p>
    
    </form>

</div>

{% endblock %}