{% extends 'base.html' %}
{% load static %}

{% block title %}Password Reset Sent{% endblock %}


{% block content %}
{% load crispy_forms_tags %}

<div class="jumbotron">
    <center>
        <h1>Balanced News</h1>
    </center>
    <br>
    <center>
        <h5>Check Your Inbox</h5>
    </center>
</div>

<div class="form-holder">
    
    <div class="reset-instructions">
        We've emailed you instructions for setting your password. You should receive the email shortly.
    </div>

</div>

{% endblock %}