{% extends 'base.html' %}
{% load static %}

{% block title %}Password Reset Complete{% endblock %}


{% block content %}
{% load crispy_forms_tags %}

<div class="jumbotron">
    <center>
        <h1>Balanced News</h1>
    </center>
    <br>
    <center>
        <h5>Password Reset Complete</h5>
    </center>
</div>

<div class="form-holder">
    
    <div class="reset-instructions">
        Your new password has been set. You may now <a href="/login">log in</a>.
    </div>
    <br><br><br>

</div>

{% endblock %}