{% extends 'base.html' %}
{% comment %} {% load mathfilters %} {% endcomment %}


{% block title %}
    Headlines
{% endblock %}


{% block content %}
{% csrf_token %}

    <div class="jumbotron">
        <center>
            <h1>Today's News</h1>
        </center>
    </div>


        <div class="card-columns">

            {% for headline in headline_list %}
            <div class="card">
                {% if headline.img != '' %}
                    <img class="card-img-top" src="{{headline.img}}" alt="article image"></a>
                {% endif %}

                <div class="card-body">
                    
                    <div class="card-title"> 
                        <h1>{{headline.title}}</h1>
                    </div>
                    <p className="mb-8 leading-relaxed">
                        {{headline.content}}
                    </p>
                    {% if headline.time_ago_str %}
                        <p class="card-text"><small class="text-muted">published {{ headline.date}}</small></p>
                    {% else %}
                        <p class="card-text"><small class="text-muted">published before today</small></p>
                    {% endif %}

                </div>
            </div>
            {% endfor %}

        </div>

        <div class="login-for-rest">
            <center>
                <br><br><br><br>
                <h5>To see the rest of these articles, <a href="/login">log in</a> to your Balanced News account.</h5>
                <br>
                <h5>Don't have an account? <a href="/register">Sign up</a> today!</h5>
            </center>
            <br><br><br><br>
        </div>


{% endblock %}
